@charset

body{
        
        background-color: #e9b5eb;
        border-radius: 5px;
        box-shadow: #861f8a;
        padding: auto;
        margin: auto;

        }
        h1{
            text-align: center;
            margin-left: 15%;
            margin-right: 10%;
            background-color: #d4aec1;
            border-radius: 5px;
            font-size: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;

            }
        h2{
            font-size: x-large;
            text-align: center;
            }
        p{
            font-size: medium;
            text-align: justify;


            }
